* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgrey;
}

.navbar {
  background: cornflowerblue;
  height: 100;
  margin-bottom: 50px;
}

.navbar-brand {
  margin: 0 30px;
}

.navbar-brand h1 {
  font-size: xxx-large;
  color: floralwhite;
}

.nav-link {
  font-size: x-large;
  color: floralwhite;
  margin: 0 10px;
}

ol {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
  margin: 0 50px;
  padding: 0px;
}

.col h2,
#post-form h2 {
  font-size: xx-large;
  color: floralwhite;
}

.login-form,
.signup-form {
  width: 500px;
}

.card-header:first-child {
  background: cornflowerblue;
  border-radius: 10px 10px 0 0;
}

.card-header a,
.title {
  color: floralwhite;
  font-size: x-large;
  text-decoration: none;
}

.card-header a p,
p {
  margin: 0.5rem 0 0.5rem 0;
}

.card-body {
  background-color: gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-body p {
  font-size: 18px;
}

.card {
  margin: 10px 0 10px 0;
  border: none;
  background: none;
}

.delete-edit {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

.edit-btn a {
  text-decoration: none;
  color: white;
}

.mb-3 label {
  font-size: large;
}

#logout {
  margin: 10px;
}

.login-btn,
.signup-btn {
  font-size: large;
}

#post-form {
  height: max-content;
  margin: 0 0 0 50px;
}
