<ol class='post-list'>
  <li>
    {{#each posts}}
      <div class='post'>
        <div class='post-title'>
          <p>Title: {{title}}</p>
          <p>Posted By: {{user.username}} on {{createdAt}}</p>
        </div>
        <p class='post-contents'>{{post_contents}}</p>
      </div>
    {{/each}}
  </li>
</ol>