<ol>
    {{#each posts}}
  <li>
      <div class='post'>
        <div class='post-title'>
          <p class="title">Title: {{title}}</p>
          <p class="posted-by">Posted By: {{user.username}} on {{createdAt}}</p>
        </div>
        <p class='post-contents'>{{post_contents}}</p>
      </div>
  </li>
    {{/each}}
</ol>