<form class='row align-self-center justify-content-center'>
  <div class='card col-4 login-form'>
    <div class='card-header'>
      <p class='title'>Login</p>
    </div>
    <div class='card-body'>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='login-email'
          aria-describedby='emailHelp'
          placeholder="your@email.com"
        />
      </div>
      <div class='mb-3'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='login-password' placeholder="*********" />
      </div>
      <button type='submit' class='btn btn-primary login-btn'>Login</button>
    </div>
  </div>

  <div class='card col-4 signup-form'>
    <div class='card-header'>
      <p class='title'>Sign Up</p>
    </div>
    <div class='card-body'>
      <div class='mb-3'>
        <label for='username' class='form-label'>Username</label>
        <input type='username' class='form-control' id='signup-username' placeholder="jane_doe" />
      </div>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='signup-email'
          aria-describedby='emailHelp'
          placeholder="your@email.com"
        />
      </div>
      <div class='mb-3'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='signup-password' placeholder="*********" />
      </div>
      <button type='submit' class='btn btn-primary signup-btn'>Sign Up</button>
    </div>
  </div>
</form>
<script src='/javascript/login.js'></script>