<div class='card'>
  <div class='card-header'>
    <p class='title'>Title: {{post.title}}</p>
  </div>
  <div class='card-body'>
    <p class='posted-by'>Posted By:
      {{post.user.username}}
      on
      {{post.createdAt}}</p>
    <p class='card-text'>{{post.post_contents}}</p>
  </div>
</div>